<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Categorias</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Lista de Categorias</h1>
<a th:href="@{/categorias/nova}">Nova Categoria</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoria : ${categorias}">
        <td th:text="${categoria.id}"></td>
        <td th:text="${categoria.nome}"></td>
        <td>
            <a th:href="@{/categorias/editar/{id}(id=${categoria.id})}">Editar</a>
            <a th:href="@{/categorias/deletar/{id}(id=${categoria.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Voltar para Home</a>
</body>
</html>
