<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Balancete</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Sistema de Balancete</h1>
<nav>
    <ul>
        <li><a th:href="@{/categorias}">Categorias</a></li>
        <li><a th:href="@{/lancamentos}">Lançamentos</a></li>
        <li><a th:href="@{/relatorio}">Relatório</a></li>
        <li><a th:href="@{/soma-por-tipo}">Balanço</a></li>
    </ul>
</nav>

</body>
</html>
